.imageTile{
  width: 170px;
  height: 50px;
  background-color: grey;
  
  display: flex;
  align-items: center;
  
  border-bottom: solid;
}

.imageUl{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Icon{
  padding-left: 10px;
  padding-right: 10px;
}
.image{
  height: 20px;
  width: 20px;
  object-fit: cover;
  user-select: none;
}

.textArea{
  user-select: none;
}

.remove{
  user-select: none;
}

.closeImagePopupDiv{
  display: flex;
  justify-content: center;
}

.closeImagePopup{
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: solid;
  border-color: red;
}